.a{
    text-align: center;
  }
.b{
    text-align: center;
  }
.c{
  text-align: center;
  }
.d{
  text-align: right;
  }
.h{
  text-align: right;
  }
.j{
  text-align: right;
  }
.l{
  text-align: right;
}
.javascriptvards{
  text-align: center;
}
.Mašina1{
  background-color: rgba(212, 33, 33, 0.516);
}
.Mašina2{
  background-color: rgba(203, 109, 109, 0.274);
}
.Mašina3{
  background-color: rgba(235, 235, 18, 0.804);
}
.Mašina4{
  background-color: rgba(198, 30, 30, 0.556);
}