.a{
    text-align: center;
  }
.b{
    text-align: center;
  }
.c{
  text-align: center;
  }
.d{
  text-align: right;
  }
.h{
  text-align: right;
  }
.j{
  text-align: right;
  }
.l{
  text-align: right;
  content:"";
  display:inline-block;
  width: 10px;
  height:10px;
  border-radius: 50%;
  margin-right:10px;
  background:blue;
}
.javascriptvards{
  text-align: center;
}